form {
  width: 210mm;
  height: auto;
  margin: 0;
  padding: 0;
  page-break-inside: avoid;
} 

#sign-here {
  display: block;
  /* set for mobile width: 70vw; */
  /* set for mobile height: 40vw; */
  border-radius: 10px;
}

#sign-button {
  margin: 1em;
}
#toolbar button {
  background-color: #1565c0;
  border: none;
  border-radius: 4px;
  color:white;
  padding: 6px;
}

#dentist-label {
  font-size: 14px;
}

.error {
  color: #FF0000;
}

.text-h {
  font-size: 10px;
}

@media print { 
  
  .text-h {
    float: right;
  }
  
  #signature-label {
    text-transform: none !important;
  }

  #dentist-label {   
    text-transform: none !important;  
  }
 
 .form {
   display: block;
 }

 #email-input {
  font-size: 10px;
 } 

 #date {
  font-size: 12px;
 }
 }


