body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#sign-here {
  display: block;
  /* set for mobile width: 70vw; */
  /* set for mobile height: 40vw; */
  border-radius: 10px;
}

#sign-button {
  margin: 1em;
}
#toolbar button {
  background-color: #1565c0;
  border: none;
  border-radius: 4px;
  color:white;
  padding: 6px;
}
